$body-color: black;
 
body {
  color: $body-color;
}
.v-application .text-h4 {
  font-size: 2.125rem !important;
  line-height: 2.5rem;
  letter-spacing: .0073529412em !important;
  font-weight: 300;
}
.titlePage {
  font-size: 44px;
  padding-top: 20px;
  margin-bottom: 30px;
  line-height: 1em;
  font-weight: 400;
}
.iconTitle {
  max-width: 180px;
  min-width: 180px;
  max-width: 20%;
  min-width: 180px;
}
